personal-config.el
auto-save-list
elpa
emacs-application-framework
.cache
bookmarks
eaf
emojis
eshell
forge-database.sqlite
init.elc
network-security.data
nov-places
project-list
projectile-list
projectile-bookmarks.eld
projectile.cache
recentf
request
tramp
transient
url
var
eln-cache
session*
straight